# Ignore Python cache
backend/__pycache__/

# Ignore environment file
backend/.env

# Ignore uploads
backend/uploads/
backend/migrations/

# Optional: ignore virtual environment and VS Code settings
myvirenv/
.vscode/
