/* rte.css */
.rte-content ul {
  list-style: disc;
  padding-left: 1.25rem; /* ~pl-5 */
  margin: 0.5rem 0;
}

.rte-content ol {
  list-style: decimal;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
}

.rte-content li {
  margin: 0.125rem 0;
}
